body {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	color: #333;
	background: #CCC;
	
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
}

img {
	max-height: 100%;
	max-width: 100%;
}

.page {
	margin: 0 auto;
	background-image: url("../images/paper.png");
	color:#000;
	background-color: white;
}

@media screen and (max-width: 500px) {
    .page {
    	padding-bottom: 0px;
    	padding-left: 20px;
    	padding-right: 20px;
    	margin-top: 0px;
    }

    body {
    	margin-top: 0px;
		margin-bottom: 0px;
    }
}

@media screen and (min-width: 501px) {
	.page {
		max-width: 440px; 
		padding: 20px;
		border-radius:0px;
		margin-top: 5px;
		border-style:solid;
		border-width:1px;
		border-color: #000;

		box-shadow: 3px 3px 3px #000;

	}
}

ul {
	list-style-type: none;
	list-style: none;
	padding-left: 3px;
}
  
li { 
	padding-left: 1px; 
}

li::before {
	content: "☕"; /* Insert content that looks like bullets */
	padding-right: 6px;
}

a {
	font-weight: bold;
	color:#333;
}

.footer a { color: white; }

.footer {
	text-transform:lowercase;
	font-size:22px;
	background-color: #A5433E;
	text-shadow: 1px 1px 1px #000;
	margin-top: 18px;
	margin-right: -20px;
	margin-left: -20px;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 3px;
	text-align: right;
	color:#FFF;
	font-style: italic;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
	font-size:28px;
	
	text-align:center;
	vertical-align:middle;
	
	margin-top: -3px;
	margin-right: -20px;
	margin-left: -20px;
	padding-left: 20px;
	padding-bottom: 3px;
	padding-top: 6px;
	
	background-color: #A5433E;
	text-shadow: 1px 2px 0px #000;
	color:#FFF;

}

h2 {	
	margin-top: -6px;
	margin-right: -20px;
	margin-left: -20px;
	margin-bottom: -6px;
	
	padding: 0px;
	padding-left: 20px;

	font-size:22px;
	color:#222;
}

h3 {
	font-size:18px;
}

code {
    background: #000;
    color: #0E0;
    padding: .1em;
    
  	border: 2px solid #000;
}

